.nav li{display: inline-block; background-color: bisque; border-radius: 20px; width: 100px; margin: 10px; padding: 10px ; text-align: center;  }

.nav li:hover {cursor: pointer; background-color: chocolate; color: aliceblue; font-weight: 700 ; }